body {
	text-align: center;
	background-color: #1b1d1e;
}

h1, h2 {
	display: inline-block;
}

h1 {
	color: #f8f8f2;
	font-size: 64;
}

h2 {
	color: #75715e;
	font-size: 20;
}

span {
	background: #3e3d32;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.copyright {
    font-size: 8pt;
    text-align: center;
    padding-bottom: 10px;
    color: grey;
}
